.clear
{
	clear:both;
}

.displayNone
{
	display: none;
}

.fleft
{
	float: left;
}

body 
{
	padding-top: 60px;
}


/********
 * MENU *
 ********/
#logadoComo
{
	color: #ffffff;
	font-weight: bold;
}


/*********
 * FORMS *
 *********/
form.form-stacked
{
	padding-left: 0px;
}

form.form-stacked .actions
{
	margin-left: 0px;
}

form fieldset
{
	background: #F4F4F4;
	padding: 9px;
}

form div.actions > *
{
	margin-right: 10px;
}


/*************
 * DATA GRID *
 *************/
table.dataGrid td.gerenciar > *
{
	margin-right: 10px;
}


/*********
 * LOGIN *
 *********/
#formLogin
{
	width:230px;
}

	#usuarioLogin
	{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	#usuarioSenha
	{
		margin-bottom:10px;
	}


/*************
 * PAGINAÇÃO *
 *************/
.pagi
{
	height:36px;
	margin:18px 0;
	border:1px solid #ddd;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
}

	.pagi span
	{
		float:left;
		padding:8px 10px 5px 10px;
	}
	

/*********
 * LINKS *
 *********/
.linkRemover
{
	color:red;
	text-decoration:none;
	padding:1px;
}

	.link-remover:hover
	{
		background:red;
		text-decoration:none;
		color:#FFF;
		padding:1px;
	}
	
.linkEditar
{
	color:#0063DC;
	padding:1px;
}

	.linkEditar:hover
	{
		background:#0063DC;
		color:#FFF;
		text-decoration:none;
		padding:1px;
	}